.singleProduct_container {
  position: relative;
  width: 100%;
}
.backButton_singleproductImg {
  position: relative;
  background-color: white;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 17rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.backButton {
  background-color: rgb(202, 194, 194);
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 0.6;
}
.backButton a {
  margin: 0;
  padding: 0;
  color: black;
}

.headerCartContainer {
  position: absolute;
  top: 0rem;
  right: 1rem;
}
.headerCart img {
  width: 23px;
}

.headerCartLength {
  font-size: 0.8rem;
  font-weight: 700;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: red;
  position: absolute;
  padding: 0.3px;
  right: 0.2rem;
}

.singleProductimg_container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 35%;
  left: calc(60% / 2);
}
/*   
 */
.singleProductimg {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.singleProduct_subcontainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
}
@media (min-width: 600px) {
  .bottom_container {
    width: 60%;
    margin: auto;
  }
}
.singleProduct_name_price {
  display: flex;
  flex-flow: column;
}
.singleProduct_wishlist {
  width: 1.4rem;
  height: 1.4rem;
}
.singleProduct_name {
  font-weight: 600;
  margin-bottom: 0.4rem;
  font-size: 15px;
}
.singleProduct_price {
  font-weight: 600;
  color: #2c4e8e;
  font-size: 15px;
}
.singleProduct_icon {
  margin-bottom: 0.5rem;
  width: 50%;
  margin: auto;
}
.Heart {
  font-size: 15px;
  color: black;
}
.wishlist_red {
  color: red;
}

.singleProduct_title {
  font-size: 13px;
  font-weight: 600;
}

.reviews {
  width: 94%;
  margin: auto;
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  color: rgb(49, 47, 47);
}
.star {
  color: #ffc700;
  font-size: 14px;
}
.singleProduct_description_container {
  width: 94%;
  margin: auto;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.description {
  margin-bottom: 0.6rem;
}
.readmore {
  font-weight: 600;
  margin: 1rem 0.5rem 0 0;
  font-size: 14px;
}
.singleProduct_btn_cart {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.singleProduct_inc_dec {
  width: 40%;
  height: 2.7rem;
  border-radius: 7px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
.dec,
.inc {
  font-size: 1.3rem;
  border: 0;
  background-color: unset;
  outline: none;
}

.singleProduct_addtocart {
  background-color: #4f90a5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 40%;
  height: 2.7rem;
}
.ShoppingCart {
  margin-right: 0.9rem;
}
.addtocart {
  display: block;
  padding: 0.5rem 1rem;
  background-color: red;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  border: 0;
  background-color: transparent;
  color: white;
}
.line {
  width: 100%;
  margin: 1.3rem auto;
}
.reviews_section {
  width: 94%;
  margin: auto;
}
