.welcome_container {
  padding: 0.7rem 0 0 0.7rem;
}
.welcome_subcontainer {
  margin-bottom: 0.5rem;
}
@media (min-width: 850px) {
  .welcome_container {
    position: fixed;
    right: 3rem;
    top: 0.1rem;
    z-index: 100;
  }
}
.welcome_subcontainer h4 {
  font-size: 14px;
}
.ProductDeliver {
  width: 100%;
  color: white;
  background-color: rgb(61, 61, 70);
  font-size: 1rem;
}
.ProductDeliverText {
  padding: 0.5rem 0 0.5rem 1rem;
}
@media (min-width: 600px) {
  .ProductDeliverText {
    margin-left: 1rem;
  }
}

@media (min-width: 600px) {
  div .product_header {
    width: 75%;
  }
  div .product_container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
  }
}
.ProductDeliverIcon {
  padding-right: 0.3rem;
}
.img_banner {
  width: 100%;
  margin: auto;
}
.img_banner img {
  width: 100%;
}

.hero_container {
  width: 100%;

  margin-top: 0.5rem;
}
.hero {
  width: 100%;
  object-fit: contain;
}

.singleFrontItem_container {
  height: 17.3rem;
  width: 100%;
  background-color: white;
}
.singleFrontItem_subcontainer {
  overflow: auto;
  white-space: nowrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-flow: row;
}
@media (min-width: 900px) {
  .singleFrontItem_subcontainer {
    max-width: 900px;
    margin: auto;
  }
}

.singleFrontItem_box {
  display: inline-block;
  padding: 0.7rem 0.8rem;
  width: 10rem;
  border: 2px solid #dae3e5;
  border-radius: 0.6rem;
  margin: 0.8rem 0.4rem;
}
.singleFrontItem_img {
  width: 7rem;
  height: 8rem;
}
.singleFrontItem_img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.singleFrontItem_link {
  margin: 0;
  padding: 0;
}
.singleFrontItem_details {
  color: black;
}

.singleFrontItem_btn {
  margin-top: 0.3rem;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  background-color: #4f90a5;
}
.product_content_container_bottom {
  margin-bottom: 3rem;
}
@media (min-width: 750px) {
  div .product_content_container_bottom {
    margin-bottom: 1rem;
  }
}
.product_content_container {
  position: relative;
  background-color: black;
  padding-bottom: 0.2rem;
}

.product_content_grid {
  display: flex;
  width: 99%;
  margin: auto;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.product_img_container {
  background-color: white;
  width: 50%;
  margin: 0.2rem 0.2rem 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
@media (min-width: 700px) {
  .product_content_grid .product_content {
    width: 50%;
  }
}
.product_content {
  width: 75%;
  height: 75%;
  object-fit: scale-down;
}
.seeMore {
  background-color: white;
  padding: 1rem;
  width: 97%;
  margin: 0.3rem auto;
}
.Link_category {
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black;
}

/* From this line downward is shared by wishlist do not delete */
.product_header {
  width: 94%;
  margin: 1rem auto;
  font-size: 0.8rem;
  position: relative;
}
.product_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 96%;
  margin: 10px auto;
  margin-bottom: 4rem;
}

.product_items {
  background-color: white;
  height: 16rem;
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  position: relative;
}
.img_container {
  height: 45%;
  border-radius: 8px;
  text-align: center;
}

.img_container > img {
  width: 60%;
  height: 80%;
  margin: 10px auto;
  object-fit: contain;
}
.product_details {
  width: 94%;
  margin: 3px auto;
  position: absolute;
  bottom: 0.2rem;
  left: calc(6% / 2);
}
.product_name,
.shortdesc,
.product_price,
.reviews,
.wishlist_addtoCart {
  margin-bottom: 5px;
}
.product_name {
  font-weight: 700;
  font-size: 15px;
}

.product_price {
  font-weight: 600;
  font-size: 15px;
  color: #2c4e8e;
}
.reviews,
.shortdesc {
  display: flex;
  font-size: 12px;
}
.review_star {
  color: #ffc700;
}

.wishlist_addtoCart {
  display: flex;
  align-items: center;
}
.wishlist_addtoCart .wishlist_red {
  color: red;
}
.wishlist_toggle {
  width: 35%;
  color: #acadaf;
  font-size: 1rem;
}
.product_addCart {
  padding: 0.4rem 0.5rem;
  border: 0;
  border-radius: 15px;
  background-color: #4f90a5;
  color: #f8f7fc;
  width: 4.3rem;
  display: flex;
  outline: none;
  border: none;
  justify-content: space-evenly;
  font-size: 0.7rem;
}
.product_addCart span {
  padding: 0.1rem;
}
.singleprod_link {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: unset;
}
@media (min-width: 750px) {
  .navFooter_container {
    display: none;
  }
}

/* wishlist */

.wishlist_empty_container {
  width: 100%;
  text-align: center;
  display: absolute;
  top: 10rem;
}
.wishlist_empty_subcontainer {
  width: 80%;
  margin: 10rem auto;
  color: black;
}
/* TotalItemWishlist */
.TotalItems_Wishlist_container {
  position: relative;
  width: 100%;
}
.TotalItems_Wishlist_subcontainer {
  width: 94%;
  margin: 1rem auto;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .product_container {
    max-width: 600px;
  }
}
