.NavFooter_Subcontainer {
  overflow: auto;
  white-space: nowrap;
  background-color: #cedfe2;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.1rem;
}
.NavFooter_Subcontainer > div {
  padding: 0.5rem;
}

@media (min-width: 700px) {
  div .NavFooter_Subcontainer {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.selected {
  color: white;
  background-color: #4f90a5;
  padding: 0.4rem 0.8rem;
  border-radius: 18px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.selected .selectedText {
  display: block;
}

.selected .fontawsomeIcon {
  color: white;
}

.fontawsomeIcon {
  color: rgb(175, 172, 172);
  text-decoration: none;
  font-size: 1.4rem;
  padding-right: 0.3rem;
}
.selectedText {
  display: none;
  font-size: 12px;
}
#test {
  position: relative;
}

.wishlist_count {
  color: white;
  background-color: red;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
  position: absolute;
  left: -0.2rem;
  padding-left: 0.2rem;
  z-index: 10;
}
