.NavFooter_Subcontainer {
  overflow: auto;
  white-space: nowrap;
  background-color: #f4f4ff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.1rem;
}

.NavFooter_Subcontainer > div {
  padding: 0.5rem;
}

.selected {
  color: white;
  background-color: #2c2e85;
  padding: 0.4rem 0.8rem;
  border-radius: 18px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.selected .selectedText {
  display: block;
}

.selected .fontawsomeIcon {
  color: white;
}
.fontawsomeIcon {
  color: rgb(175, 172, 172);
  text-decoration: none;
  font-size: 1.3rem;
  padding-right: 0.3rem;
}
.selectedText {
  display: none;
  font-size: 12px;
}
